<h2> Edit your today's headline </h2>

<div class="well">
Previous headline: <%= @today_title %>
      
<%= form_for @title, :url => {:action => "edit"}, :html => {:method => "put", :class => "form-horizontal"}  do |f| %>
  <div class ="input-append">
    <%= f.text_field :name %>
    <%= f.submit "Edit",:class => "btn", :type => "submit",:method => "post" %>
  </div> 
<% end %>
</div>





  