<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <div class="container">
        <h3><a class="brand" href="/"> TMW</a></h3>
        <ul class="nav">
            <li><%= link_to "Ranking", "/users/showranking" %></li>
            <% if user_signed_in? %>
            <li><%= link_to "My heandlines", "/users/showpreviousheadlines" %></li>
            <% end %> 
        </ul>
      </div>
  </div>
</div>