<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>Home page</TITLE>

   </HEAD>
   <BODY>

   	<h1>Home page</h1>

	<%= form_for @title do |f| %>
  		<%= f.text_field :title %>
  		<%= f.submit "Post" %>
	<% end %>
      
   </BODY>
</HTML>
