<h2> <%= @current_user.email%>'s headlines </h2>
     	
<table>
  <% @previous_headlines.each do |p| %>
    <tr>
      <td>  <%= p.created_at.to_date %> </td>
      <td>  <%= p.name %> </td>
    </tr>
  <% end %>
</table>
