<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <HEAD>
      <TITLE>My page</TITLE>

   </HEAD>
   <BODY>

     <%= render "shared/logger" %> 

    <h1> Guess evening standard </h1>

   	<h2> Your last headlines </h2>
   	
   	<table>
        <% @previous_headlines.each do |p| %>
        <tr>
          <td>  <%= p.created_at.to_date %> </td>
          <td>  <%= p.name %> </td>
        </tr>
        <% end %>
    </table>

   </BODY>
</HTML>